# Ignore IDE folder
.idea/*

# Ignore ddev folder
.ddev/

# Ignore wp-config
wp-config*
.htaccess

# Ignore composer files
vendor/*
composer.lock

# Ignore node files
node_modules/*
package-lock.json

# Ignore upgrade and uploads directories in the "wp-content" directory.
wp-content/upgrade/*
wp-content/uploads/*

# Ignore everything in the "themes" directory, except screenpro
wp-content/themes/twenty*

# ignore log files and databases
*.log
*.sql
*.sql.gz
*.sqlite

# Ignore languages
/wp-content/languages/*

# Ignore plugins
/wp-content/plugins/query-monitor/
/wp-content/db.php

# Ignore testing files
/wp-content/themes/hpractic/http-request.http
/downloads/
/.env
/db/
