.counters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8rem 0 0;
  
  @media only screen and(max-width: $container-desktop-lg) {
    margin: 5.2rem -3rem 0;
  }
  
  @media only screen and(max-width: $container-desktop-sm) {
    justify-content: center;
  }
  
  @media only screen and(max-width: $container-tablet) {
    flex-wrap: wrap;
    padding: 0 13rem;
    align-items: flex-start;
  }
  
  @media only screen and(max-width: $container-tablet-sm) {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0;
  }
  
  &__item {
    padding: 0 6.5rem;
    max-width: 25%;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: $font-primary;
  
    @media only screen and(max-width: $container-desktop-lg) {
      padding: 0 3rem;
    }
  
    @media only screen and(max-width: $container-desktop-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  
    @media only screen and(max-width: $container-tablet) {
      width: 50%;
      max-width: 100%;
      margin: 3rem 0;
    }
  
    @media only screen and(max-width: $container-tablet-sm) {
      padding: 0 0;
    }
    
    &-count {
      font-size: 6rem;
      line-height: 1;
      color: $color-primary;
      font-weight: 700;
      font-style: normal;
  
      @media only screen and(max-width: $container-tablet) {
        font-size: 5.4rem;
      }
  
      @media only screen and(max-width: $container-tablet-sm) {
        font-size: 4.6rem;
      }
      
      strong {
        font-style: inherit;
        font-weight: inherit;
        display: block;
      }
    }
    
    &-text {
      padding-left: 1.6rem;
      font-style: normal;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 1.06;
      color: $color-grey-dark;
  
      @media only screen and(max-width: $container-tablet) {
        font-size: 1.7rem;
      }
  
      @media only screen and(max-width: $container-tablet-sm) {
        font-size: 1.5rem;
      }
  
      @media only screen and(max-width: $container-desktop-sm) {
        padding: 1rem 0 0;
      }
    }
  }
}