.footer {
  padding: 0;
  width: 100%;
  z-index: 100;
  background: $color-grey-light;
  
  @media only screen and(max-width: 992px) {
  
  }
  
  &__content {
    padding: 4.6rem 0;
    border-top: 1px solid rgba($color-primary, 0.1);
    border-bottom: 1px solid rgba($color-primary, 0.1);
    
    &-row {
      display: flex;
      justify-content: space-between;
      margin: 0 -1.5rem;
      
      @media only screen and(max-width: 1320px) {
        flex-wrap: wrap;
      }
  
      @media only screen and(max-width: 699px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  &__item {
    max-width: 25%;
    padding: 0 1.5rem;
  
    @media only screen and(max-width: 1700px) {
      max-width: 30%;
    }
  
    @media only screen and(max-width: 1023px) {
      width: 50%;
      max-width: 100%;
    }
  
    @media only screen and(max-width: 699px) {
      width: 100%;
      
      &:not(:last-child){
        margin-bottom: 4.8rem;
      }
    }
  
    ul {
      list-style: none;
      li {
        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
  
  &__logo {
    padding: 3rem 0;
  
    @media only screen and(max-width: 1199px) {
    
    }
  
    @media only screen and(max-width: 699px) {
    
    }
  }
  
  &__about {
    @media only screen and(max-width: 1320px) {
      width: 100%;
      max-width: 100%;
      margin: 0 0 6rem;
    }
  
    @media only screen and(max-width: 1023px) {
      width: 50%;
      max-width: 100%;
    }
  
    @media only screen and(max-width: 699px) {
      width: 100%;
    }
  }
  
  &__nav {
    .nav {
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $color-primary;
      
      ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
        li {
          margin: 0;
          
          &:not(:last-child){
            margin: 0 0 1.5rem;
          }
        }
      }
      
      a {
        text-decoration: none;
        text-transform: none;
      }
    }
  }
  
  &__copyright {
    padding: 1.8rem 0;
    color: $color-grey-dark;

    .text {
      @media only screen and(max-width: 699px) {
        font-size: 1.5rem;
      }
    }
    
    a {
      color: currentColor;
      text-decoration: none;
      border-bottom: 1px dashed transparent;
      
      &:hover {
        border-color: currentColor;
      }
    }
  }
}