.header {
  padding: 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 102;
  background: $color-white;
  left: 0;
  right: 0;
  transition: box-shadow .4s linear;
  box-shadow: 0 0 40px rgba(27, 55, 88, 0.1);
  
  @media only screen and(max-width: $container-desktop-sm) {
    padding: 2.3rem 0;
  }
  
  @media only screen and (max-width: $container-tablet){
    padding: 2rem 0;
  }
  
  @media only screen and (max-width: $container-tablet-sm){
    padding: 1.6rem 0;
  }
  
  .container {
    position: static;
    
    @media only screen and (min-width: $container-desktop-sm + 1) and (max-width: $container-desktop-lg) {
      max-width: 100%;
    }
  }
  
  &--sticky {
    //box-shadow: 5px 5px 20px rgba(37, 56, 84, 0.2);
  }
  
  &.active {
    box-shadow: 0 4px 20px rgba(48, 96, 154, 0.1);
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media only screen and (max-width: $container-tablet){
      align-items: center;
    }
  }
  
  &__logo {
    margin-right: 8rem;
    flex-shrink: 0;
  
    @media only screen and (max-width: $container-desktop-lg){
      margin-right: 4rem;
    }
    
    @media only screen and (max-width: 992px){
      margin-right: 3rem;
    }
  
    @media only screen and (max-width: $container-tablet-sm){
      margin-right: 0.5rem;
    }
    
    .logo {
      @media only screen and(max-width: $container-tablet) {
        width: 11.5rem;
      }
    }
  }
  
  &__nav {
    margin-right: auto;
  }
  
  &__languages {
  
  }
  
  &__search {
    width: 24.8rem;
  
    @media only screen and(max-width: $container-desktop-sm) {
      margin-left: auto;
    }
    
    &:not(:last-child){
      margin-right: 3.2rem;
  
      @media only screen and (max-width: $container-tablet){
        margin-right: 2rem;
      }
      
      @media only screen and (max-width: $container-tablet-sm) {
        margin-right: 0;
        margin-left: auto;
        width: auto;
      }
    }
    
    .form {
      @media only screen and (max-width: $container-tablet-sm){
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 100%;
        padding: 1rem 1rem;
        transform: translateY(2rem);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .3s, opacity .3s linear, transform .3s linear;
        pointer-events: none;
        
        &.visible {
          transform: translateY(0);
          visibility: visible;
          pointer-events: all;
          opacity: 1;
          transition: opacity .3s linear, transform .3s linear;
        }
      }
  
      &__field {
        background: $color-white;
  
        @media only screen and (max-width: $container-tablet-sm){
          box-shadow: 0 0 1.6rem rgba(27, 55, 88, 0.08);
        }
      }
    }
  
    
  }
  
  &__btn {
    margin-left: 3rem;
  }
  
  .nav {
    & > ul {
      & > li {
         & > a {
          position: relative;
          padding: 3.6rem 0;
    
          &::before {
            content: '';
            position: absolute;
            top: 0;
            margin: auto;
            left: 0;
            right: 0;
            width: 0;
            transition: width .3s;
            background-color: $color-primary;
            border-radius: 0 0 2px 2px;
            height: 0.4rem;
            display: none;
          }
        }
        &.active {
          & > a {
            color: $color-primary;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}