.product {
  $product: &;
  overflow: hidden;
  max-width: 100%;
  
  &__head {
    padding: 3rem 0 0;
    
    &-inner {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  &__img {
    position: relative;
    width: 100%;
    padding: 0 0 100%;
    overflow: hidden;
    border-radius: 8px;
    
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
  
  &__preview {
    width: 60.8rem;
    flex-shrink: 0;
  
    @media only screen and (max-width: $container-desktop-lg) {
      width: 44.8rem;
    }
  
    @media only screen and (max-width: $container-desktop-sm) {
      width: 50%;
    }
  
    @media only screen and (max-width: $container-tablet) {
      width: 80%;
      margin: 0 auto 4rem;
    }
  
    @media only screen and (max-width: $container-tablet-sm) {
      width: 100%;
      margin: 0 0 4rem;
    }
    
    &-top {
      margin: 0 0 3.2rem;
  
      @media only screen and (max-width: $container-desktop-lg) {
        margin-bottom: 2.4rem;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
  
      .slider {
        display: block;
        border-radius: 8px;
        overflow: hidden;
        
        &__item {
          padding: 0;
          margin: 0;
        }
        
        .slick-list {
          margin: 0;
          padding: 0;
        }
      }
    }
    
    &-bottom {
      display: flex;
      align-items: center;
    }
    
    &-thumbs {
      overflow: hidden;
      width: 100%;
      
      .slider {
        display: block;
        
        &__item {
          padding-top: 0;
          padding-bottom: 1.2rem;
          position: relative;
          cursor: pointer;
  
          @media only screen and (max-width: $container-desktop-lg) {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
          }
          
          &::before {
            content: '';
            position: absolute;
            left: 1.6rem;
            width: 0;
            bottom: 0;
            transition: all .2s;
            opacity: 0;
            height: .4rem;
            border-radius: .2rem;
            background-color: $color-primary;
            max-width: calc(100% - 3.2rem);
  
            @media only screen and (max-width: $container-desktop-lg) {
              left: 1.2rem;
              max-width: calc(100% - 2.4rem);
            }
          }
          
          &.slick-current {
            &::before {
              width: 100%;
              opacity: 1;
            }
          }
        }
    
        .slick-list {
          padding: 0;
          margin: 0 -1.2rem;
        }
      }
      
      #{$product} {
        &__img {
          border-radius: 4px;
        }
      }
    }
    
    &-controls {
      flex-shrink: 0;
      padding-left: 3.2rem;
  
      @media only screen and (max-width: $container-desktop-lg) {
        padding-left: 2.4rem;
      }
  
      @media only screen and (max-width: $container-tablet-sm) {
        display: none;
      }
    }
  }
  
  &__details {
    width: calc(100% - 60.8rem);
    padding-left: 23.4rem;
  
    @media only screen and (max-width: $container-desktop-lg) {
      width: calc(100% - 44.8rem);
      padding-left: 13rem;
    }
  
    @media only screen and (max-width: $container-desktop-sm) {
      width: 50%;
      padding-left: 10rem;
    }
  
    @media only screen and (max-width: $container-tablet) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
    }
  
    @media only screen and (max-width: $container-tablet-sm) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: $color-secondary-dark;
    margin: 0 0 .4rem;
  }
  
  &__part-number {
    font-style: normal;
    font-weight: normal;
    color: $color-grey-dark;
  }
  
  &__price {
    margin: 4rem 0 3rem;
    font-size: 2.1rem;
    color: $color-secondary-dark;
    font-style: normal;
    font-weight: normal;
    
    strong {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.4rem;
    }
  }
  
  &__list {
    margin: 4rem 0;
  }
  
  &__count {
    margin: 4rem 0 2.4rem;
  }
  
  &__info {
    display: flex;
    border-radius: .8rem;
    position: relative;
    margin: 7.3rem 0 0 -5.4rem;
    padding: 4.8rem 0 4.8rem 3.8rem;
  
    @media only screen and (max-width: $container-desktop-lg) {
      padding: 0;
      margin: 5.2rem -1.6rem -1.6rem;
      flex: 1;
    }
  
    @media only screen and (max-width: $container-tablet) {
      margin: 4rem 0 0;
      background-color: $color-grey-light;
    }
  
    @media only screen and (max-width: $container-mobile-lg) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: 0;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
    
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      left: 0;
      right: -9999rem;
      top: 0;
      background-color: $color-grey-light;
  
      @media only screen and (max-width: $container-desktop-lg) {
        display: none;
      }
    }
    
    &-item {
      padding: 0 1rem;
      border-radius: .8rem;
      background-color: $color-grey-light;
      position: relative;
      z-index: 2;
      width: 50%;
  
      @media only screen and (max-width: $container-desktop-lg) {
        padding: 4rem 5.6rem;
        margin: 0 1.6rem 1.6rem;
        width: calc(50% - 3.2rem);
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      @media only screen and (max-width: $container-desktop-sm) {
        padding: 4rem 2rem;
      }
  
      @media only screen and (max-width: $container-tablet) {
        width: 50%;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
  
      @media only screen and (max-width: $container-mobile-lg) {
        width: 100%;
        border-radius: 0;
      }
    }
    
    &-head {
      display: flex;
      align-items: center;
      margin: 0 0 1rem;
      font-weight: 600;
      font-style: normal;
  
      @media only screen and (max-width: $container-desktop-lg) {
        flex-shrink: 0;
      }
      
      span {
        display: inline-block;
        
        &:not(:first-child){
          margin-left: 1.5rem;
        }
      }
      
      .icon {
        font-size: 1.88em;
      }
    }
    
    &-body {
      padding-left: 2.8rem;
  
      @media only screen and (max-width: $container-desktop-lg) {
        padding-left: 4rem;
      }
  
      @media only screen and (max-width: $container-tablet) {
        padding-left: 2rem;
      }
    }
  
    ul {
      list-style: none;
      
      & > li {
        padding: 0 0 0 2.3rem;
        position: relative;
        
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 1.2rem;
          height: .6rem;
          width: .6rem;
          border-radius: 50%;
          display: block;
          background: $color-primary;
        }
      }
    }
  }
}