.section {
  padding: 12rem 0;
  
  @media only screen and(max-width: 1700px) {
    padding: 6.4rem 0;
  }
  
  &--white {
    background-color: $color-white;
  }
  
  &--grey {
    background-color: $color-grey-light;
  }
  
  &__inner {
    display: flex;
  
    @media only screen and(max-width: 1320px) {
      flex-direction: column;
    }
  }
  
  &__row {
    display: flex;
    align-items: center;
    padding: 0 12.8rem;
  
    @media only screen and(max-width: 1700px) {
      padding: 0 10rem;
    }
  
    @media only screen and(max-width: 1320px) {
      padding: 0 0;
    }
  
    @media only screen and(max-width: 1023px) {
      flex-direction: column;
      align-items: center;
      padding: 0 10rem;
    }
  
    @media only screen and(max-width: 599px) {
      padding: 0 0;
    }
  }
  
  &__form {
    width: 49.2rem;
    flex-shrink: 0;
  
    @media only screen and(max-width: 1700px) {
      width: 40rem;
    }
  
    @media only screen and(max-width: 1023px) {
      width: 100%;
      margin: 3rem 0 0;
    }
  }
  
  &__text {
    padding-right: 13.2rem;
  
    @media only screen and(max-width: 1700px) {
      padding-right: 6rem;
    }
    
    @media only screen and(max-width: 1023px) {
      padding: 0;
      text-align: center;
    }
    
  }
  
  &__main {
    flex-shrink: 0;
    width: 38.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 2rem 2rem 0;
  
    @media only screen and(max-width: 1700px) {
      width: 28.8rem;
    }
  
    @media only screen and(max-width: 1320px) {
      width: 100%;
      padding: 0;
      margin: 0 0 2rem;
    }
  }
  
  &__slider {
    z-index: 1;
    position: relative;
    width: calc(100% - 38.4rem + (100vw - 152.4rem) / 2);
    overflow: hidden;
    flex-shrink: 0;
    padding-left: 1.6rem;
  
    @media only screen and(max-width: 1700px) {
      width: calc(100% - 28.8rem + (100vw - 114rem) / 2);
    }
  
    @media only screen and(max-width: 1320px) {
      width: calc(100% + 1.5rem + (100vw - 100%) / 2);
      margin: 0 -1.5rem;
      padding-left: 0;
    }
  
    @media only screen and(max-width: 1320px) {
      width: calc(100% + 0.8rem + (100vw - 100%) / 2);
      margin: 0 -0.8rem;
    }
    
    .slider {
      margin-right: -19.5rem;
      position: relative;
  
      @media only screen and(max-width: 1700px) {
        margin-right: -16rem;
      }
  
      @media only screen and(max-width: 1320px) {
        margin-right: -12rem;
      }
      
      &::after {
        content: '';
        display: block;
        width: 14%;
        top: 0;
        right: 12%;
        bottom: 0;
        height: 100%;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        z-index: 1;
        pointer-events: none;
  
        @media only screen and(max-width: 1700px) {
          width: 16%;
          right: 10%;
        }
  
        @media only screen and(max-width: 1320px) {
          right: 8%;
        }
      }
    }
  }
  
  &__controls {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
  
    @media only screen and(max-width: 1700px) {
      flex-wrap: wrap;
    }
  
    @media only screen and(max-width: 1320px) {
      justify-content: flex-end;
      margin-top: 2rem;
      position: relative;
      z-index: 2;
    }
  
    @media only screen and(max-width: 699px) {
      justify-content: space-between;
    }
    
    &-group {
      display: flex;
      align-items: center;
      margin-right: 3.2rem;
  
      @media only screen and(max-width: 1700px) {
        width: 100%;
        margin: 0 0 1.6rem;
      }
  
      @media only screen and(max-width: 1320px) {
        margin: 0 0 0 4rem;
        width: auto;
        order: 1;
      }
  
      @media only screen and(max-width: 699px) {
        margin-left: auto;
        margin-right: 0;
      }
      
      .btn {
        &:not(:first-child){
          margin-left: 0.8rem;
        }
      }
    }
  }
  
  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}

@import 'sections/section-hero';
@import 'sections/section-callback';
@import 'sections/section-advantages';