.slider {
  &__item {
    padding: 4.2rem 1.6rem;
    border: none;
    outline: none;
    box-shadow: none;
    
    @media only screen and (max-width: $container-desktop-sm) {
      padding: 1rem 1.6rem;
    }
  
    @media only screen and (max-width: $container-tablet) {
      padding: 1rem 0.8rem;
    }
  }
  
  
  .slick-list {
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
  
    @media only screen and (max-width: $container-tablet) {
      margin: 0 -0.8rem;
      padding: 0 0.8rem;
    }
  }
  
  .card {
    &::after {
      visibility: hidden;
    }
  }
  
  .slick-active {
    border: none;
    outline: none;
    box-shadow: none;
    
    .card {
      
      &::after {
        visibility: visible;
        box-shadow: 0 0 1.6rem rgba(27, 55, 88, 0.078);
      }
      
      &:hover {
        
        &::after {
          @media only screen and (min-width: $container-desktop-sm + 1) {
            max-height: 100%;
            box-shadow: 0 0 1.6rem rgba(27, 55, 88, 0.1);
          }
        }
  
        @media only screen and (min-width: $container-desktop-sm + 1) {
          .card__actions {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .3s .3s, transform .3s .3s;
          }
        }
        
      }
      
      &--primary {
      
      }
      
      &--secondary {
        
        &::after {
          box-shadow: none;
          
          @media only screen and (min-width: $container-desktop-sm + 1) {
            box-shadow: 0 0 1.6rem rgba(27, 55, 88, 0);
            
          }
        }
        
        &:hover {
          @media only screen and (min-width: $container-desktop-sm + 1) {
            box-shadow: 0 0 1.6rem rgba(27, 55, 88, 0.048);
          }
        }
      }
    }
  }
}