@import 'components/smart/pagination';
@import 'components/smart/breadcrumbs';
@import 'components/smart/btn';
@import 'components/smart/link';
@import 'components/smart/logo';
@import 'components/smart/languages';
@import 'components/smart/nav';
@import 'components/smart/head';
@import 'components/smart/quantity';
@import 'components/smart/tabs';
@import 'components/smart/table';

.cards {
  @media only screen and(max-width: $container-desktop-sm) {
    padding: 0 5rem;
  }
  
  @media only screen and(max-width: $container-tablet) {
    padding: 0;
  }
  
  &--tablet-full {
    @media only screen and(max-width: $container-desktop-sm) {
      padding: 0;
    }
  }
}