.breadcrumbs {
  color: $color-primary-dark;
  font-size: 1.8rem;
  font-family: $font-primary;
  line-height: 1.5;
  font-weight: normal;
  padding: 1rem 0;
  
  @media only screen and(max-width: 992px) {
    font-size: 1.6rem;
  }
  
  @media only screen and(max-width: $container-tablet-sm) {
    font-size: 1.4rem;
  }
  
  ul {
    li {
      display: inline;
      
      &:not(:first-child) {
        &::before {
          content: '→';
          display: inline-block;
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          padding: 0 0.5em;
        }
      }
      
      a {
        text-decoration: none;
      }
      
      a, span {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
      }
      
      .active, span {
        color: $color-orange-light;
      }
    }
  }
}