%btn-default {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  display: inline-flex;
  border-radius: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4.6rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-family: $font-primary;
  transition: all .3s ease-out;
  font-weight: 600;
  font-style: normal;
  min-width: 16rem;
  user-select: none;
  
  @media only screen and (max-width: $container-tablet-sm) {
  
  }
  
  & > * {
    pointer-events: none;
  }
  
  .icon {
    margin: 0 0.6em;
    
    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  &,
  &:link,
  &:visited {
    @extend %btn-default;
  }
  
  &--primary {
    &,
    &:link,
    &:visited {
      background-color: $color-dark-blue;
      color: $color-white;
      --iconColor: $color-white;
      
      &:hover {
  
        @media only screen and (min-width: $container-desktop-sm + 1) {
          background-color: $color-darker-blue;
          --iconColor: $color-white;
        }
        
      }
      
      &:active {
        background-color: $color-darker-blue2;
        --iconColor: $color-white;
      }
    }
  }
  
  &--secondary {
    &,
    &:link,
    &:visited {
      color: $color-dark-blue;
      background: $color-grey-light3;
      --iconColor: $color-darker-blue;
      
      &:hover {
  
        @media only screen and (min-width: $container-desktop-sm + 1) {
          color: $color-white;
          background-color: $color-darker-blue;
          --iconColor: $color-darker-blue;
        }
        
      }
      
      &:active {
        color: $color-white;
        background-color: $color-darker-blue2;
        --iconColor: $color-darker-blue;
      }
    }
  }
  
  &--bordered {
    &,
    &:link,
    &:visited {
      border: 1px solid rgba($color-dark-blue, 0.5);
      color: $color-dark-blue;
      background: $color-white;
      --iconColor: $color-darker-blue;
      
      &:hover {
        @media only screen and (min-width: $container-desktop-sm + 1) {
          color: $color-white;
          background-color: $color-darker-blue;
          border-color: $color-darker-blue;
          --iconColor: $color-darker-blue;
        }
      }
      
      &:active {
        color: $color-white;
        background-color: $color-darker-blue2;
        border-color: $color-darker-blue2;
        --iconColor: $color-darker-blue;
      }
    }
  }
  
  &--square {
    &,
    &:link,
    &:visited {
      width: 4.6rem;
      height: 4.6rem;
      padding: 1.2rem 1.2rem;
      min-width: unset;
      flex-shrink: 0;
    }
    
    &-sm {
      &,
      &:link,
      &:visited {
        width: 2.4rem;
        height: 2.4rem;
        padding: 0.2rem 0.2rem;
        min-width: unset;
        flex-shrink: 0;
        font-size: 0.68em;
      }
    }
  }
  
  &--disabled, &:disabled {
    
    color: $color-white;
    background: $color-grey-dark;
    --iconColor: $color-white;
    
    &:hover, &:active, &:focus {
      color: $color-white;
      background: $color-grey-dark;
      --iconColor: $color-white;
    }
  }
  
}

.btn-menu {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 100;
  width: 1em;
  height: .72em;
  border: none;
  padding: 0;
  background: transparent;
  line-height: 0.6;
  text-align: center;
  user-select: none;
  
  > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background: $color-primary;
    vertical-align: middle;
    
    &::before, &::after {
      display: inline-block;
      position: absolute;
      content: "";
      height: 2px;
      border-radius: 2px;
      background: $color-primary;
      transition: all 200ms;
    }
    
    &::before {
      top: -0.26em;
      right: 0;
      width: 100%;
    }
    
    &::after {
      top: 0.26em;
      right: 0;
      width: 100%;
    }
  }
  
  &:focus {outline: none}
  
  &:hover > span:after, &:hover > span:before {
    width: 100%;
    left: 0;
  }
  
  &.active {
    & > span {
      height: 0;
      
      &::after, &::before {
        top: 0;
        left: 0;
        width: 100%;
      }
      
      &::after {
        transform: rotate(-45deg);
      }
      
      &::before {
        transform: rotate(45deg);
      }
    }
  }
}

.btn-icon {
  font-size: 2.4rem;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
  padding: 0.1em 0.1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
  background-color: transparent;
  user-select: none;
  
  &__badge {
    position: relative;
    right: 0.9em;
    margin-right: -0.9em;
    top: -0.9em;
    font-size: 0.56em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1.84em;
    min-width: 1.84em;
    padding: 0.1em;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    color: $color-white;
    background-color: $color-dark-blue;
    flex-shrink: 0;
    transition: all .2s;
    opacity: 1;
    
    &:empty {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  &[data-toggle-menu] {
    color: $color-primary-dark;
    --iconColor: $color-primary-dark;
    
    .icon {
      transform: rotate(90deg);
    }
  }
}

.btn-to-top {
  position: fixed;
  bottom: 8rem;
  right: 4rem;
  opacity: 0;
  pointer-events: none;
  transition: all .2s;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: $color-white;
  box-shadow: 0 0 40px rgba(27, 55, 88, 0.15);
  border-radius: 8px;
  user-select: none;
  
  .icon {
    position: relative;
    transform: rotate(-90deg);
  }
  
  @media only screen and (max-width: $container-tablet-sm){
    bottom: 6.6rem;
    right: 2rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  
  &.visible {
    pointer-events: initial;
    opacity: 1;
  }
}
