.logo {
  display: block;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  width: 14.2rem;
  flex-shrink: 0;
  
  img, svg {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}