.nav {
  $nav: &;
  display: flex;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: $color-primary-dark;
  text-decoration: none;
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: currentColor;
    transition: color .08s linear;
    --iconColor: currentColor;
    
    &:hover, &.active {
      color: $color-primary;
      --iconColor: $color-primary;
    }
    
    &:not(:first-child) {
      margin-left: 4rem;
    }
    
    .icon {
      margin-left: 0.5em;
      position: relative;
      transform: rotate(90deg);
    }
  }
  
  
  & > ul {
    display: flex;
    list-style: none;
    
    & > li {
      position: relative;
      
      &:hover {
        #{$nav}{
          &__sub {
            @media screen and (min-width: $container-desktop-sm + 1){
              pointer-events: all;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      
      &.visible-submenu {
        #{$nav}{
          &__sub {
            @media screen and (max-width: $container-desktop-sm){
              pointer-events: all;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      
      &:not(:first-child) {
        margin-left: 4rem;
  
        @media only screen and (max-width: $container-desktop-lg){
          margin-left: 3rem;
        }
        
        
        @media only screen and(max-width: 1199px) {
          margin-left: 1.5rem;
        }
      }
    }
  }
  
  &__sub {
    text-align: left;
    transition: opacity .3s .3s;
    
    &:not(.nav__sub--static) {
      position: absolute;
      left: 50%;
      transform: translateX(-30%);
      top: 100%;
      padding: 2rem 0;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      max-width: 42rem;
      width: 100vw;
      background: $color-white;
      box-shadow: 0 12px 20px rgba(27, 55, 88, 0.1);
      border-radius: 0 0 .8rem .8rem;
      @media only screen and (max-width: $container-desktop-lg) {
        max-width: 36rem;
        padding: 1rem 0;
      }
    }
    
    & > ul {
      flex-direction: column;
      
      & > li {
        position: relative;
        padding: 0 5rem;
        margin: 1rem 0;
        
        @media only screen and (max-width: $container-desktop-lg) {
          padding: 0 3rem;
        }
        
        & > a {
          padding: 0.2rem 0;
          position: static;
          text-transform: none;
          font-size: 1.7rem;
          line-height: 2.1rem;
          font-weight: 600;
          justify-content: flex-start;
  
          @media only screen and (max-width: $container-desktop-lg) {
            font-size: 1.5rem;
          }
          
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 1.8em;
            width: 4px;
            background: $color-primary;
            border-radius: 0 2px 2px 0;
            opacity: 0;
            transition: opacity .08s;
            margin: auto;
          }
          
          &:hover, &.active {
            color: $color-primary;
            
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
    
    &--static {
      align-self: flex-start;
      justify-self: flex-start;
      width: 100%;
      max-width: 100%;
      margin: 0 0 auto;
      
      & > ul {
        & > li {
          padding: 0 0 0 2.2rem;
          margin: 0;
          
          &:not(:last-child){
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}