.u-text {
  &-gradient-orange {
    color: $color-orange-dark;
    
    @supports (-webkit-background-clip: text) or ( -webkit-text-fill-color: transparent) {
      background: $gradient-primary;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  &-gradient-blue-hover {
    transition: all .3s;
    
    &:hover, &.active {
      color: $color-blue;
  
      @supports (-webkit-background-clip: text) or ( -webkit-text-fill-color: transparent) {
        background: $gradient-secondary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  
  &-center {
    text-align: center;
  }
  
  &-yellow-bg {
    background-color: $color-yellow-2;
  }
}

.u-mobile {
  &-hidden {
    @media screen and (max-width: $container-tablet-sm) {
      display: none !important;
    }
  }
  
  &-visible {
    @media screen and (min-width: $container-tablet-sm + 1) {
      display: none !important;
    }
  }
}

.u-desktop-sm {
  &-hidden {
    @media screen and (max-width: $container-desktop-sm) {
      display: none !important;
    }
  }
  
  &-visible {
    @media screen and (min-width: $container-desktop-sm + 1) {
      display: none !important;
    }
  }
}

.u-desktop-md {
  &-hidden {
    @media screen and (max-width: $container-desktop-md) {
      display: none !important;
    }
  }
  
  &-visible {
    @media screen and (min-width: $container-desktop-md + 1) {
      display: none !important;
    }
  }
}

.u-tablet {
  &-hidden {
    @media screen and (max-width: $container-tablet) {
      display: none !important;
    }
  }
  
  &-visible {
    @media screen and (min-width: $container-tablet + 1) {
      display: none !important;
    }
  }
}

