.contacts {
  display: flex;
  padding: 0 3rem 0 0;
  
  @media only screen and(max-width: 1366px) {
    padding-right: 0;
  }
  
  @media only screen and(max-width: 992px) {
    padding: 0;
    flex-direction: column;
  }
  
  &__details {
    font-family: $font-primary;
    width: 100%;
    padding-right: 5rem;
  
    @media only screen and(max-width: 1366px) {
      padding-right: 1.5rem;
    }
    
    @media only screen and(max-width: 992px) {
      text-align: center;
      padding-right: 0;
      margin-bottom: 3rem;
    }
    
    
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.2;
      color: #333333;
      margin: 0 0 2rem;
  
      @media only screen and(max-width: 1366px) {
        font-size: 1.6rem;
      }
  
      @media only screen and(max-width: 992px) {
        text-align: center;
      }
    }
    
    &-info {
      margin: 0 0 5rem;
      
      ul {
        margin: -1.5rem -1.5rem;
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
  
        @media only screen and(max-width: 992px) {
          display: inline-flex;
          flex-direction: column;
          margin-left: auto;
          margin-right: auto;
        }
        
        li {
          display: flex;
          align-items: center;
          margin: 1.5rem 0;
          padding: 0 1.5rem;
          line-height: 1.2;
          width: 50%;
  
          @media only screen and(max-width: 992px) {
            width: auto;
            text-align: left;
          }
          
          .icon {
            font-size: 3rem;
            width: 1em;
            margin-right: 2rem;
            flex-shrink: 0;
  
            @media only screen and(max-width: 1366px) {
              font-size: 2.4rem;
            }
          }
          
          .key {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            color: $color-grey-light4;
  
            @media only screen and(max-width: 1366px) {
              font-size: 1.2rem;
            }
          }
          
          .value {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            color: $color-grey-dark;
            text-decoration: none;
  
            @media only screen and(max-width: 1366px) {
              font-size: 1.6rem;
            }
            
            &:hover {
              color: currentColor;
            }
          }
        }
      }
    }
    
    &-socials {
      margin: 0 0 5rem;
      
      ul {
        margin: -1rem -1rem;
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
  
        @media only screen and(max-width: 992px) {
          justify-content: center;
        }
        
        li {
          margin: 1rem 0;
          padding: 0 1rem;
          display: flex;
          font-size: 4rem;
        }
      }
      
      a {
        text-decoration: none;
        
        &.icon {
          border-radius: 50%;
          overflow: hidden;
          transition: all .3s;
          
          &:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
          }
        }
      }
    }
    
    &-text {
      color: $color-primary-dark;
      font-size: 1.6rem;
      font-family: $font-primary;
      line-height: 1.5;
      font-weight: 400;
  
      @media only screen and(max-width: 1366px) {
        font-size: 1.4rem;
      }
  
      @media only screen and(max-width: 992px) {
        text-align: center;
      }
    }
  }
  
  
  &__form {
    width: 480px;
    flex-shrink: 0;
  
    @media only screen and(max-width: 1366px) {
      width: 380px;
    }
  
    @media only screen and(max-width: 992px) {
      width: auto;
      max-width: 480px;
      margin: auto;
    }
  }
}